<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Try Rust and R in your browser.">
    <meta name="author" content="https://rustr.org">
	<meta name="keywords" content="Rust, R, rustr, rustinr, Open Source, Foreign Function Interface" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://play.rustr.org">
    <meta name="twitter:title" content="Rustr Playground">
    <meta name="twitter:description" content="Try Rust and R in your browser.">
    <meta name="twitter:image" content="./rustr_logo.png">

    <meta property="og:url" content="https://play.rustr.org">
    <meta property="og:title" content="Rustr Playground">
    <meta property="og:description" content="Try Rust and R in your browser.">
    <meta property="og:site_name" content="Rustr Playground">
    <meta property="og:image" content="./rustr_logo.png">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="fb:admins" content="100001323841762" />

    <title>Rustr Playground - Rust and R Integration</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/united/bootstrap.min.css" rel="stylesheet">
    <link href="./share-button.min.css" rel="stylesheet">
    <link rel="icon" href="https://crates.io/favicon.ico" type="image/x-icon">
    <!-- Custom CSS -->
    <!--    <link href="css/heroic-features.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{ headContent() }}

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.play.rustr.org"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//web.qin.wf/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//web.qin.wf/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a data-i18n="nav.headr" class="navbar-brand" href="#">Rust and R Integration</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a data-i18n="nav.book" href="https://book.rustr.org">Book</a>
                    </li>
                    <li>
                        <a data-i18n="nav.docs" href="https://docs.rustr.org/rustr">Docs</a>
                    </li>
                    <li>
                        <a data-i18n="nav.faq" href="#">FAQ</a>
                    </li>
                    <li>
                        <a data-i18n="nav.forum" href="https://groups.google.com/d/forum/rustr">Forum</a>
                    </li>

                    <li>
                        <a data-i18n="nav.gallery" href="https://gallery.rustr.org">Gallery</a>
                    </li>
                    <li>
                        <a data-i18n="nav.github" href="https://github.com/rustr/rustr">GitHub</a>
                    </li>
                    <li>
                        <a data-i18n="nav.news" href="https://github.com/rustr/rustr">News</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                           <i class="fa fa-globe" aria-hidden="true"></i>
                           <text data-i18n="nav.lang">Language</text> <b class="caret"></b>
                            <ul class="dropdown-menu">
                                <li class=""><a href="#" onclick="i18obj.changeLanguage('zh-cn',function(){$('body').localize();});">简体中文</a></li>
                                <li class=""><a href="#" onclick="i18obj.changeLanguage('zh-tw',function(){$('body').localize();})">繁体中文</a></li>
                                <li class=""><a href="#" onclick="i18obj.changeLanguage('en',function(){$('body').localize();});">English</a></li>
                                <li class="divider"></li>
                                <li class=""><a href="https://github.com/rustr/rustr.github.io/tree/master/locales">Help Translate</a></li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

<!--
        <div class="panel alert-dismissible panel-primary">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
          <div class="panel-heading">
            <h3 class="panel-title" data-i18n="headr.h2">Playground</h3>
          </div>
          <div class="panel-body">
              <h3  data-i18n="headr.tt1">Try rustr right away!</h4>
              <h4  data-i18n="headr.tt2">This app run in a docker environment with 512mb RAM.</h4>
          </div>
        </div>
-->
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h1  data-i18n="headr.h2">Playground</h1>
            <p></p>
            <h3  data-i18n="headr.tt1">Try rustr right away!</h3>

            <p data-i18n="headr.tt2">This app runs in a docker environment with 512mb RAM.</p>
            <h3> </h3>
            <p data-i18n="headr.fun">The first run will take minutes to compile code, and then it will run faster.</p>
            <p data-i18n="headr.docker">Run this app locally for faster speed!</p>
            <p>docker pull qinwf/shiny-rust-docker</p>
            <p>docker run -p 3838:3838 qinwf/shiny-rust-docker</p>
            <p>127.0.0.1:3838/shiny-rustr</p>
        </div>
        <!-- Title -->
<!--
        <div class="row">
            <div class="col-lg-12">
                <h3>Features</h3>
            </div>
        </div>
-->
        <!-- /.row -->

        <!-- Page Features -->
        <div>
         {{ shinyui }}
        </div>
        <!-- /.row -->
    

       
   <hr>

    <!-- Footer -->
    <footer>
      <p>Copyright &copy; rustr.org 2016 </p>
      <p></p>
      <div class="row">
        <div class="col-lg-12">
          <share-button class="sharer-0" style="display: initial;">Share
            <div class="sb-social sb-top sb-left networks-6">
              <ul>
                <li class="twitter enabled" data-network="twitter">
                  <a onclick="return false"></a>
                </li>
                <li class="facebook enabled" data-network="facebook">
                  <a onclick="return false"></a>
                </li>
                <li class="whatsapp disabled" data-network="whatsapp">
                  <a onclick="return false"></a>
                </li>
                <li class="googlePlus enabled" data-network="googlePlus">
                  <a onclick="return false"></a>
                </li>
                <li class="reddit enabled" data-network="reddit">
                  <a onclick="return false"></a>
                </li>
                <li class="linkedin enabled" data-network="linkedin">
                  <a onclick="return false"></a>
                </li>
                <li class="email enabled" data-network="email">
                  <a onclick="return false"></a>
                </li>
              </ul>
            </div>
          </share-button>
          <script src="./share-button.min.js"></script>
          <script>
            var shareButton = new ShareButton({
              ui:{
                flyout: "middle right"
              },
              networks: {
                pinterest: {
                  enabled: false
                }
              }
            });
          </script>


        </div>
      </div>
    </footer>


    </div>
    <!-- /.container -->

    
    <!-- jQuery -->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
    <!-- multilang-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/2.3.5/i18next.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/i18next-browser-languagedetector/0.2.2/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-i18next/0.0.14/i18next-jquery.min.js"></script>
    <script type="text/javascript" src="./xhr.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <script>
        options = { debug:false,lowerCaseLng:true,fallbackLng:'en' };
        i18obj = i18next.use(i18nextXHRBackend).use(i18nextBrowserLanguageDetector).init(options, function(err, t){
            i18nextJquery.init(i18obj, $, {
              tName: 't', // --> appends $.t = i18next.t
              i18nName: 'i18n', // --> appends $.i18n = i18next
              handleName: 'localize', // --> appends $(selector).localize(opts);
              selectorAttr: 'data-i18n', // selector for translating elements
              targetAttr: 'data-i18n-target', // element attribute to grab target element to translate (if diffrent then itself)
              optionsAttr: 'data-i18n-options', // element attribute that contains options, will load/set if useOptionsAttr = true
              useOptionsAttr: false, // see optionsAttr
              parseDefaultValueFromContent: true // parses default values from content ele.val or ele.text
            });
            $('body').localize();
        });
        
    </script>

</body>

</html>
